@section header
    {
    <link href="~/easyui/themes/bootstrap/easyui.css" rel="stylesheet" />
    @*<link href="~/easyui/themes/default/easyui.css" rel="stylesheet" />*@
    <link href="~/easyui/themes/icon.css" rel="stylesheet" />
}
<div class="layui-row">
    <div class="layui-col-xs3">
        @*<ul id="tree" class="ztree"
            style="padding: 2px; border: 1px solid #ddd; overflow: auto;"></ul>*@
        <div id="tree"></div>
    </div>
    <div class="layui-col-xs9">
        <div id="table"></div>
    </div>
</div>
<script type="text/javascript" src="/layui/layui.js"></script>
<script src="~/easyui/jquery.min.js"></script>
<script src="~/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/userJs/assignModule.js"></script>
